<!DOCTYPE html>
<html>

<style media="screen">
  .jumbotron{
   background-color: rgba(0, 0, 0, 0) !important;
   font-size: 18px;
   color: #00ff00;
  }

  h1{
    color: #00ff00 !important;
  }

  p{
    color: #00ff00;
  }
</style>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

<meta charset="utf-8">
<title>Qr Reader</title>

</head>

<body style="background-color:black;">
<center>

<h1>Qr Code</h1>

<div class="jumbotron" id="board">
  <img src="pics/a.png" alt="">
  <br>
  <p>selangor/102/1003</p>
  <br><br>
  <br><br>
  <img src="pics/b.png" alt="">
  <br>
  <p>selangor/102/1003/1</p>
  <br><br>
  <br><br>
  <img src="pics/c.png" alt="">
  <br>
  <p>selangor/102/1003/2</p>
  <br><br>
  <br><br>
  <img src="pics/d.png" alt="">
  <br>
  <p>selangor/102/1003/3</p>
  <br><br>
  <br><br>
  <img src="pics/e.png" alt="">
  <p>selangor/102/1003/4</p>
</div>

</center>
<!--<button id="dab">Submit</button>-->
</body>
</html>
